/*Header and Navbar*/
header {
    border-bottom: solid 0.3rem #f0e6e6;
    min-height: 10vh; 
    
    .navbar {
        @include flex (row, space-between, center);

        &__logo {
            @include flex (row, space-between, center);
            font-size: 1.5em;
            font-weight: 600;

            &__img {
                margin: 0.3rem 1rem;
                font-size: 2.2em;
            }
            &__text {
                font-size: 1em;
            }
        }
        &__busqueda {
            @include flex (column, center, center);
            flex-basis: 60%;

            &__local {
                @include flex (row, center, center);
                margin-top: 0.5rem;
                margin-bottom: 0.2rem;
                border-radius: 0.8rem;
                border: solid 0.2rem rgb(203, 202, 202);
                width: 100%;

                &__campo {
                    flex-basis: 90%;
                    margin: 0rem 1rem;
                    padding: 0.8rem 0rem;
                    border: none;
                    outline:none;
                }
                &__buscar {
                    font-size: 1.5em;
                    margin: 0.2rem 0.5rem;
                }
            }
            &__google {
                @include flex (row, center, center);

                &__button {
                    background: none;
                    border: none;
                    border-radius: 1.2rem;
                    padding: 0.5rem;
                    margin: 0.3rem;
                    color: $color__third;
                    &:hover {
                        background-color: $color__third;
                        border: none;
                        color: $color__first;
                    }
                }
                
            }
        }

        &__carrito {
            @include flex (column, space-between, center);
            font-size: 1.5em;
            margin: 0.3rem 0.5rem;

            &__img {
                font-size: 2.2em;
            }
        }
    }
    .navbar2 {
        @include flex (row, center, center);
        margin: 0.3rem;
    }
}

